torch
torchvision
# for gymnasium[box2d]
# also run: brew install swig
wheel
setuptools 
gymnasium[box2d]
opencv-python
imageio
matplotlib
tqdm
psutil
tensorboard
# only for jupyter notebooks:
jupyter
ipywidgets