torch
torchvision
# for gymnasium[box2d]
# first run: sudo apt-get install swig build-essential python-dev-is-python3
wheel
setuptools 
gymnasium[box2d]
opencv-python
imageio
matplotlib
tqdm
tensorboard
psutil